body{
    margin: 0;
    padding: 0;
}
#header{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom,rgb(0, 0, 0),rgb(63, 45, 45));
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logo{
    position: absolute;
    font-size: 8vmax;
    left: 30vw;
    font-weight: 100;
    top: 30vh;
  
}
a:link{
    text-decoration: none;
  
}
#quote{
    position:absolute;
    font-size: 1.5vmax;
    left: 10vw;
    font-weight: 300;
    top: 40vh;
}
.button{
    position: absolute;
    background: transparent;
    font-size: 2vmax;
    font-weight: 100;
    color: whitesmoke;
    height: 5vh;
    width:30vw;
    border: thin whitesmoke solid;
    border-radius: 1vmax;
    left: 32vw;
    top: 50vh;
}
.button:hover{
    color: rgb(19, 10, 10);
    background: whitesmoke;
}